:root {
  /* --highlight-color: white; */
  --highlight-color: rgb(69, 164, 164);
  --dialog-width: 30rem;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: Chicago_12, sans-serif;
  background-color: #141414;
  overflow: hidden;
  min-height: 100vh;
  scrollbar-width: none;
}

.video-container {
  position: relative;
  background: transparent;
  height: 100%;
}

.video-wrapper {
  z-index: -1;
}

.video-container video {
  position: absolute;
  object-fit: cover;
  z-index: 0;
  pointer-events: none;
}

.video-container video.fg {
  z-index: 30;
  opacity: 0.1;
  pointer-events: none;
  transition: opacity 3.5s ease-in;
}

.video-container video.water {
  opacity: 1;
  transition: opacity 2s cubic-bezier(0.445, 0.05, 0.55, 0.95) 2s;
}

.video-container video.fuzz {
  z-index: 1;
  opacity: 0.2;
  pointer-events: none;
}

.container {
  z-index: 2;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: space-between;
  height: 100%;
  flex-direction: column;
  min-height: 100vh;
}

.hn-heading {
  font-family: AppleGaramond, serif;
  letter-spacing: -0.05ch;
  font-weight: 500;
  line-height: 1.1;
  /* margin-bottom: -1.85rem; */
  margin-bottom: 2rem;
  color: #e7e7e7;
}

.main-heading {
  color: #e7e7e7;
  height: 20rem;
  margin-bottom: 2rem;
  font-family: AppleGaramond, serif;
  letter-spacing: -0.05ch;
  font-weight: 500;
  line-height: 1.2;
  opacity: 1;
  transition: opacity 5s cubic-bezier(0.445, 0.05, 0.55, 0.95) 4.5s;
}

#x0048-2,
#x0061-1,
#x0072-1,
#x0072-2,
#x0079-1,
#x002E-2,
#x0048-1,
#x0069-1,
#x002E-1 {
  height: 10rem;
  line-height: 0;
}

.heading-1 {
  font-size: 8rem;
}

.sub-heading {
  font-size: 2rem;
}

.body {
  font-size: 1.5rem;
  font-weight: 200;
  font-family: Chicago_12, sans-serif;
}

.body.light {
  color: #ffffff;
}

.bright-dot {
  color: var(--highlight-color);
}

.social-links {
  display: flex;
  width: 100%;
  justify-content: space-between;
  max-width: 20rem;
  margin: 32px auto;
}

.link {
  color: var(--highlight-color);
  transition: all 100ms ease-in;
  padding: 4px;
  text-decoration: none;
}

.link-inline {
  margin: -4px;
}

.link-icon {
  height: 32px;
  width: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.link:hover,
.link:focus {
  color: #ffdf99;
}

.link:focus {
  outline: none;
  color: #141414;
  background-color: var(--highlight-color);
  border-radius: 5px;
}

.link > i {
  font-size: 1.5rem;
}

.divider {
  border-color: var(--highlight-color);
  width: 100%;
  margin-top: 0;
  opacity: 1;
  transition: opacity 5s cubic-bezier(0.445, 0.05, 0.55, 0.95) 4.9s;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  opacity: 1;
  transition: opacity 5s cubic-bezier(0.445, 0.05, 0.55, 0.95) 4.8s;
}

.status-container {
  margin: auto;
  max-width: 30rem;
  text-align: center;
  opacity: 1;
  transition: opacity 5s cubic-bezier(0.445, 0.05, 0.55, 0.95) 5.05s;
}

.status-label {
  margin-right: 0.5rem;
}

.text-link:hover {
  text-decoration: underline;
}

.link-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  max-width: 48rem;
  margin: auto;
  margin-top: 3rem;
  opacity: 1;
  transition: opacity 5s cubic-bezier(0.445, 0.05, 0.55, 0.95) 5.21s;
}

body.portfolio .link-container {
  grid-template-columns: 1fr 1fr 1fr;
}

.btn {
  border-radius: 7px;
}

.btn-default {
  border-radius: 10px;
}

/* Portfolio.html */
.window {
  height: 40rem;
}

.project-metadata {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.project-metadata p.body {
  margin: 0.5rem 0;
}

.tech-list-container {
  grid-column-start: 1;
  grid-column-end: 3;
}

ul.tech-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: 0;
}

.image-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.image-container img {
  max-width: 100%;
  margin-bottom: 4rem;
}

.title-bar .title {
  text-overflow: ellipsis;
  max-width: 65%;
  overflow: hidden;
  white-space: nowrap;
}

.about__dialog {
  box-sizing: border-box;
  text-align: center;
  width: var(--dialog-width);
}

.about__dialog.open {
  position: fixed;
  top: calc(30%);
  left: calc(50% - calc(var(--dialog-width) / 2));
}

.content-wrapper {
  box-sizing: border-box;
  z-index: 10;
  margin: 0 auto;
  width: 100%;
  max-width: 64rem;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 2rem;
}

.container.blur {
  filter: blur(2px);
}

.about__dialog.open,
.window.case-study__window.open {
  position: absolute;
  top: 25%;
  z-index: 100;
}

.case-study__window {
  box-sizing: border-box;
}

.window.case-study__window.open {
  margin: auto;
  top: 16%;
  max-width: 80rem;
  max-height: 50rem;
  width: 90%;
  height: 90%;
  left: calc(50% - min(45%, 40rem));
}

.dialog-backdrop.closed,
.about__dialog.closed,
.window.case-study__window.closed {
  position: absolute;
  left: -9999px;
  top: 0;
}

.dialog-backdrop.open {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 20;
}

.window.case-study__window .window-pane {
  height: calc(100% - 4.1rem);
  overflow-x: hidden;
}

.github-container {
  color: #e7e7e7;
  font-size: 2rem;
  position: fixed;
  right: 2.125rem;
  top: 2rem;
  transition: opacity 5s cubic-bezier(0.445, 0.05, 0.55, 0.95) 5.3s;
}

@media (max-width: 600px) {
  :root {
    --dialog-width: 100vw;
  }

  body {
    overflow-y: scroll;
  }

  .about__dialog.open {
    margin: 0;
    position: absolute;
    left: 0;
    right: 0;
    top: 25%;
    height: auto;
  }

  .window.case-study__window.open {
    margin: 0;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: auto;
    max-width: 100vw;
    max-height: 100vh;
    width: 100%;
    height: 100%;
  }

  .project-metadata {
    grid-template-columns: 1fr;
  }

  .tech-list-container {
    grid-column-end: 2;
  }

  ul.tech-list {
    grid-template-columns: 1fr 1fr;
  }

  .main-heading {
    height: 10rem;
    margin-bottom: 0.5rem;
  }

  .heading-1 {
    font-size: 4rem;
  }

  .body {
    font-size: 1.25rem;
  }

  .social-links {
    max-width: 100%;
    margin-top: 2rem;
    justify-content: space-around;
  }

  .link > i {
    font-size: 1.25rem;
  }

  .flex-container {
    display: block;
  }

  .status-container .body {
    font-size: 1rem;
  }

  .link-container {
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    max-width: 100%;
    margin-top: 2rem;
  }

  body.portfolio .link-container {
    grid-template-columns: 1fr;
  }
}

@font-face {
  font-family: "Helvetica-x0048";
  src: local("Helvetica");
  unicode-range: U+0048;
}

@font-face {
  font-family: "Helvetica-x0069";
  src: local("Helvetica");
  unicode-range: U+0069;
}

@font-face {
  font-family: "Helvetica-x002E";
  src: local("Helvetica");
  unicode-range: U+002E;
}

@font-face {
  font-family: "Helvetica-x0049";
  src: local("Helvetica");
  unicode-range: U+0049;
}

@font-face {
  font-family: "Helvetica-x0027";
  src: local("Helvetica");
  unicode-range: U+0027;
}

@font-face {
  font-family: "Helvetica-x006D";
  src: local("Helvetica");
  unicode-range: U+006D;
}

@font-face {
  font-family: "Helvetica-x0061";
  src: local("Helvetica");
  unicode-range: U+0061;
}

@font-face {
  font-family: "Helvetica-x0072";
  src: local("Helvetica");
  unicode-range: U+0072;
}

@font-face {
  font-family: "Helvetica-x0079";
  src: local("Helvetica");
  unicode-range: U+0079;
}

@font-face {
  font-family: "Arial-x0048";
  src: local("Arial");
  unicode-range: U+0048;
}

@font-face {
  font-family: "Arial-x0069";
  src: local("Arial");
  unicode-range: U+0069;
}

@font-face {
  font-family: "Arial-x002E";
  src: local("Arial");
  unicode-range: U+002E;
}

@font-face {
  font-family: "Arial-x0049";
  src: local("Arial");
  unicode-range: U+0049;
}

@font-face {
  font-family: "Arial-x0027";
  src: local("Arial");
  unicode-range: U+0027;
}

@font-face {
  font-family: "Arial-x006D";
  src: local("Arial");
  unicode-range: U+006D;
}

@font-face {
  font-family: "Arial-x0061";
  src: local("Arial");
  unicode-range: U+0061;
}

@font-face {
  font-family: "Arial-x0072";
  src: local("Arial");
  unicode-range: U+0072;
}

@font-face {
  font-family: "Arial-x0079";
  src: local("Arial");
  unicode-range: U+0079;
}

@font-face {
  font-family: "Arial Black-x0048";
  src: local("Arial Black");
  unicode-range: U+0048;
}

@font-face {
  font-family: "Arial Black-x0069";
  src: local("Arial Black");
  unicode-range: U+0069;
}

@font-face {
  font-family: "Arial Black-x002E";
  src: local("Arial Black");
  unicode-range: U+002E;
}

@font-face {
  font-family: "Arial Black-x0049";
  src: local("Arial Black");
  unicode-range: U+0049;
}

@font-face {
  font-family: "Arial Black-x0027";
  src: local("Arial Black");
  unicode-range: U+0027;
}

@font-face {
  font-family: "Arial Black-x006D";
  src: local("Arial Black");
  unicode-range: U+006D;
}

@font-face {
  font-family: "Arial Black-x0061";
  src: local("Arial Black");
  unicode-range: U+0061;
}

@font-face {
  font-family: "Arial Black-x0072";
  src: local("Arial Black");
  unicode-range: U+0072;
}

@font-face {
  font-family: "Arial Black-x0079";
  src: local("Arial Black");
  unicode-range: U+0079;
}

@font-face {
  font-family: "Verdana-x0048";
  src: local("Verdana");
  unicode-range: U+0048;
}

@font-face {
  font-family: "Verdana-x0069";
  src: local("Verdana");
  unicode-range: U+0069;
}

@font-face {
  font-family: "Verdana-x002E";
  src: local("Verdana");
  unicode-range: U+002E;
}

@font-face {
  font-family: "Verdana-x0049";
  src: local("Verdana");
  unicode-range: U+0049;
}

@font-face {
  font-family: "Verdana-x0027";
  src: local("Verdana");
  unicode-range: U+0027;
}

@font-face {
  font-family: "Verdana-x006D";
  src: local("Verdana");
  unicode-range: U+006D;
}

@font-face {
  font-family: "Verdana-x0061";
  src: local("Verdana");
  unicode-range: U+0061;
}

@font-face {
  font-family: "Verdana-x0072";
  src: local("Verdana");
  unicode-range: U+0072;
}

@font-face {
  font-family: "Verdana-x0079";
  src: local("Verdana");
  unicode-range: U+0079;
}

@font-face {
  font-family: "Tahoma-x0048";
  src: local("Tahoma");
  unicode-range: U+0048;
}

@font-face {
  font-family: "Tahoma-x0069";
  src: local("Tahoma");
  unicode-range: U+0069;
}

@font-face {
  font-family: "Tahoma-x002E";
  src: local("Tahoma");
  unicode-range: U+002E;
}

@font-face {
  font-family: "Tahoma-x0049";
  src: local("Tahoma");
  unicode-range: U+0049;
}

@font-face {
  font-family: "Tahoma-x0027";
  src: local("Tahoma");
  unicode-range: U+0027;
}

@font-face {
  font-family: "Tahoma-x006D";
  src: local("Tahoma");
  unicode-range: U+006D;
}

@font-face {
  font-family: "Tahoma-x0061";
  src: local("Tahoma");
  unicode-range: U+0061;
}

@font-face {
  font-family: "Tahoma-x0072";
  src: local("Tahoma");
  unicode-range: U+0072;
}

@font-face {
  font-family: "Tahoma-x0079";
  src: local("Tahoma");
  unicode-range: U+0079;
}

@font-face {
  font-family: "Trebuchet MS-x0048";
  src: local("Trebuchet MS");
  unicode-range: U+0048;
}

@font-face {
  font-family: "Trebuchet MS-x0069";
  src: local("Trebuchet MS");
  unicode-range: U+0069;
}

@font-face {
  font-family: "Trebuchet MS-x002E";
  src: local("Trebuchet MS");
  unicode-range: U+002E;
}

@font-face {
  font-family: "Trebuchet MS-x0049";
  src: local("Trebuchet MS");
  unicode-range: U+0049;
}

@font-face {
  font-family: "Trebuchet MS-x0027";
  src: local("Trebuchet MS");
  unicode-range: U+0027;
}

@font-face {
  font-family: "Trebuchet MS-x006D";
  src: local("Trebuchet MS");
  unicode-range: U+006D;
}

@font-face {
  font-family: "Trebuchet MS-x0061";
  src: local("Trebuchet MS");
  unicode-range: U+0061;
}

@font-face {
  font-family: "Trebuchet MS-x0072";
  src: local("Trebuchet MS");
  unicode-range: U+0072;
}

@font-face {
  font-family: "Trebuchet MS-x0079";
  src: local("Trebuchet MS");
  unicode-range: U+0079;
}

@font-face {
  font-family: "Impact-x0048";
  src: local("Impact");
  unicode-range: U+0048;
}

@font-face {
  font-family: "Impact-x0069";
  src: local("Impact");
  unicode-range: U+0069;
}

@font-face {
  font-family: "Impact-x002E";
  src: local("Impact");
  unicode-range: U+002E;
}

@font-face {
  font-family: "Impact-x0049";
  src: local("Impact");
  unicode-range: U+0049;
}

@font-face {
  font-family: "Impact-x0027";
  src: local("Impact");
  unicode-range: U+0027;
}

@font-face {
  font-family: "Impact-x006D";
  src: local("Impact");
  unicode-range: U+006D;
}

@font-face {
  font-family: "Impact-x0061";
  src: local("Impact");
  unicode-range: U+0061;
}

@font-face {
  font-family: "Impact-x0072";
  src: local("Impact");
  unicode-range: U+0072;
}

@font-face {
  font-family: "Impact-x0079";
  src: local("Impact");
  unicode-range: U+0079;
}

@font-face {
  font-family: "Gill Sans-x0048";
  src: local("Gill Sans");
  unicode-range: U+0048;
}

@font-face {
  font-family: "Gill Sans-x0069";
  src: local("Gill Sans");
  unicode-range: U+0069;
}

@font-face {
  font-family: "Gill Sans-x002E";
  src: local("Gill Sans");
  unicode-range: U+002E;
}

@font-face {
  font-family: "Gill Sans-x0049";
  src: local("Gill Sans");
  unicode-range: U+0049;
}

@font-face {
  font-family: "Gill Sans-x0027";
  src: local("Gill Sans");
  unicode-range: U+0027;
}

@font-face {
  font-family: "Gill Sans-x006D";
  src: local("Gill Sans");
  unicode-range: U+006D;
}

@font-face {
  font-family: "Gill Sans-x0061";
  src: local("Gill Sans");
  unicode-range: U+0061;
}

@font-face {
  font-family: "Gill Sans-x0072";
  src: local("Gill Sans");
  unicode-range: U+0072;
}

@font-face {
  font-family: "Gill Sans-x0079";
  src: local("Gill Sans");
  unicode-range: U+0079;
}

@font-face {
  font-family: "Times New Roman-x0048";
  src: local("Times New Roman");
  unicode-range: U+0048;
}

@font-face {
  font-family: "Times New Roman-x0069";
  src: local("Times New Roman");
  unicode-range: U+0069;
}

@font-face {
  font-family: "Times New Roman-x002E";
  src: local("Times New Roman");
  unicode-range: U+002E;
}

@font-face {
  font-family: "Times New Roman-x0049";
  src: local("Times New Roman");
  unicode-range: U+0049;
}

@font-face {
  font-family: "Times New Roman-x0027";
  src: local("Times New Roman");
  unicode-range: U+0027;
}

@font-face {
  font-family: "Times New Roman-x006D";
  src: local("Times New Roman");
  unicode-range: U+006D;
}

@font-face {
  font-family: "Times New Roman-x0061";
  src: local("Times New Roman");
  unicode-range: U+0061;
}

@font-face {
  font-family: "Times New Roman-x0072";
  src: local("Times New Roman");
  unicode-range: U+0072;
}

@font-face {
  font-family: "Times New Roman-x0079";
  src: local("Times New Roman");
  unicode-range: U+0079;
}

@font-face {
  font-family: "Georgia-x0048";
  src: local("Georgia");
  unicode-range: U+0048;
}

@font-face {
  font-family: "Georgia-x0069";
  src: local("Georgia");
  unicode-range: U+0069;
}

@font-face {
  font-family: "Georgia-x002E";
  src: local("Georgia");
  unicode-range: U+002E;
}

@font-face {
  font-family: "Georgia-x0049";
  src: local("Georgia");
  unicode-range: U+0049;
}

@font-face {
  font-family: "Georgia-x0027";
  src: local("Georgia");
  unicode-range: U+0027;
}

@font-face {
  font-family: "Georgia-x006D";
  src: local("Georgia");
  unicode-range: U+006D;
}

@font-face {
  font-family: "Georgia-x0061";
  src: local("Georgia");
  unicode-range: U+0061;
}

@font-face {
  font-family: "Georgia-x0072";
  src: local("Georgia");
  unicode-range: U+0072;
}

@font-face {
  font-family: "Georgia-x0079";
  src: local("Georgia");
  unicode-range: U+0079;
}

@font-face {
  font-family: "Palatino-x0048";
  src: local("Palatino");
  unicode-range: U+0048;
}

@font-face {
  font-family: "Palatino-x0069";
  src: local("Palatino");
  unicode-range: U+0069;
}

@font-face {
  font-family: "Palatino-x002E";
  src: local("Palatino");
  unicode-range: U+002E;
}

@font-face {
  font-family: "Palatino-x0049";
  src: local("Palatino");
  unicode-range: U+0049;
}

@font-face {
  font-family: "Palatino-x0027";
  src: local("Palatino");
  unicode-range: U+0027;
}

@font-face {
  font-family: "Palatino-x006D";
  src: local("Palatino");
  unicode-range: U+006D;
}

@font-face {
  font-family: "Palatino-x0061";
  src: local("Palatino");
  unicode-range: U+0061;
}

@font-face {
  font-family: "Palatino-x0072";
  src: local("Palatino");
  unicode-range: U+0072;
}

@font-face {
  font-family: "Palatino-x0079";
  src: local("Palatino");
  unicode-range: U+0079;
}

@font-face {
  font-family: "Baskerville-x0048";
  src: local("Baskerville");
  unicode-range: U+0048;
}

@font-face {
  font-family: "Baskerville-x0069";
  src: local("Baskerville");
  unicode-range: U+0069;
}

@font-face {
  font-family: "Baskerville-x002E";
  src: local("Baskerville");
  unicode-range: U+002E;
}

@font-face {
  font-family: "Baskerville-x0049";
  src: local("Baskerville");
  unicode-range: U+0049;
}

@font-face {
  font-family: "Baskerville-x0027";
  src: local("Baskerville");
  unicode-range: U+0027;
}

@font-face {
  font-family: "Baskerville-x006D";
  src: local("Baskerville");
  unicode-range: U+006D;
}

@font-face {
  font-family: "Baskerville-x0061";
  src: local("Baskerville");
  unicode-range: U+0061;
}

@font-face {
  font-family: "Baskerville-x0072";
  src: local("Baskerville");
  unicode-range: U+0072;
}

@font-face {
  font-family: "Baskerville-x0079";
  src: local("Baskerville");
  unicode-range: U+0079;
}

@font-face {
  font-family: "Andalé Mono-x0048";
  src: local("Andalé Mono");
  unicode-range: U+0048;
}

@font-face {
  font-family: "Andalé Mono-x0069";
  src: local("Andalé Mono");
  unicode-range: U+0069;
}

@font-face {
  font-family: "Andalé Mono-x002E";
  src: local("Andalé Mono");
  unicode-range: U+002E;
}

@font-face {
  font-family: "Andalé Mono-x0049";
  src: local("Andalé Mono");
  unicode-range: U+0049;
}

@font-face {
  font-family: "Andalé Mono-x0027";
  src: local("Andalé Mono");
  unicode-range: U+0027;
}

@font-face {
  font-family: "Andalé Mono-x006D";
  src: local("Andalé Mono");
  unicode-range: U+006D;
}

@font-face {
  font-family: "Andalé Mono-x0061";
  src: local("Andalé Mono");
  unicode-range: U+0061;
}

@font-face {
  font-family: "Andalé Mono-x0072";
  src: local("Andalé Mono");
  unicode-range: U+0072;
}

@font-face {
  font-family: "Andalé Mono-x0079";
  src: local("Andalé Mono");
  unicode-range: U+0079;
}

@font-face {
  font-family: "Courier-x0048";
  src: local("Courier");
  unicode-range: U+0048;
}

@font-face {
  font-family: "Courier-x0069";
  src: local("Courier");
  unicode-range: U+0069;
}

@font-face {
  font-family: "Courier-x002E";
  src: local("Courier");
  unicode-range: U+002E;
}

@font-face {
  font-family: "Courier-x0049";
  src: local("Courier");
  unicode-range: U+0049;
}

@font-face {
  font-family: "Courier-x0027";
  src: local("Courier");
  unicode-range: U+0027;
}

@font-face {
  font-family: "Courier-x006D";
  src: local("Courier");
  unicode-range: U+006D;
}

@font-face {
  font-family: "Courier-x0061";
  src: local("Courier");
  unicode-range: U+0061;
}

@font-face {
  font-family: "Courier-x0072";
  src: local("Courier");
  unicode-range: U+0072;
}

@font-face {
  font-family: "Courier-x0079";
  src: local("Courier");
  unicode-range: U+0079;
}

@font-face {
  font-family: "Lucida-x0048";
  src: local("Lucida");
  unicode-range: U+0048;
}

@font-face {
  font-family: "Lucida-x0069";
  src: local("Lucida");
  unicode-range: U+0069;
}

@font-face {
  font-family: "Lucida-x002E";
  src: local("Lucida");
  unicode-range: U+002E;
}

@font-face {
  font-family: "Lucida-x0049";
  src: local("Lucida");
  unicode-range: U+0049;
}

@font-face {
  font-family: "Lucida-x0027";
  src: local("Lucida");
  unicode-range: U+0027;
}

@font-face {
  font-family: "Lucida-x006D";
  src: local("Lucida");
  unicode-range: U+006D;
}

@font-face {
  font-family: "Lucida-x0061";
  src: local("Lucida");
  unicode-range: U+0061;
}

@font-face {
  font-family: "Lucida-x0072";
  src: local("Lucida");
  unicode-range: U+0072;
}

@font-face {
  font-family: "Lucida-x0079";
  src: local("Lucida");
  unicode-range: U+0079;
}

@font-face {
  font-family: "Monaco-x0048";
  src: local("Monaco");
  unicode-range: U+0048;
}

@font-face {
  font-family: "Monaco-x0069";
  src: local("Monaco");
  unicode-range: U+0069;
}

@font-face {
  font-family: "Monaco-x002E";
  src: local("Monaco");
  unicode-range: U+002E;
}

@font-face {
  font-family: "Monaco-x0049";
  src: local("Monaco");
  unicode-range: U+0049;
}

@font-face {
  font-family: "Monaco-x0027";
  src: local("Monaco");
  unicode-range: U+0027;
}

@font-face {
  font-family: "Monaco-x006D";
  src: local("Monaco");
  unicode-range: U+006D;
}

@font-face {
  font-family: "Monaco-x0061";
  src: local("Monaco");
  unicode-range: U+0061;
}

@font-face {
  font-family: "Monaco-x0072";
  src: local("Monaco");
  unicode-range: U+0072;
}

@font-face {
  font-family: "Monaco-x0079";
  src: local("Monaco");
  unicode-range: U+0079;
}

@font-face {
  font-family: "Bradley Hand-x0048";
  src: local("Bradley Hand");
  unicode-range: U+0048;
}

@font-face {
  font-family: "Bradley Hand-x0069";
  src: local("Bradley Hand");
  unicode-range: U+0069;
}

@font-face {
  font-family: "Bradley Hand-x002E";
  src: local("Bradley Hand");
  unicode-range: U+002E;
}

@font-face {
  font-family: "Bradley Hand-x0049";
  src: local("Bradley Hand");
  unicode-range: U+0049;
}

@font-face {
  font-family: "Bradley Hand-x0027";
  src: local("Bradley Hand");
  unicode-range: U+0027;
}

@font-face {
  font-family: "Bradley Hand-x006D";
  src: local("Bradley Hand");
  unicode-range: U+006D;
}

@font-face {
  font-family: "Bradley Hand-x0061";
  src: local("Bradley Hand");
  unicode-range: U+0061;
}

@font-face {
  font-family: "Bradley Hand-x0072";
  src: local("Bradley Hand");
  unicode-range: U+0072;
}

@font-face {
  font-family: "Bradley Hand-x0079";
  src: local("Bradley Hand");
  unicode-range: U+0079;
}

@font-face {
  font-family: "Brush Script MT-x0048";
  src: local("Brush Script MT");
  unicode-range: U+0048;
}

@font-face {
  font-family: "Brush Script MT-x0069";
  src: local("Brush Script MT");
  unicode-range: U+0069;
}

@font-face {
  font-family: "Brush Script MT-x002E";
  src: local("Brush Script MT");
  unicode-range: U+002E;
}

@font-face {
  font-family: "Brush Script MT-x0049";
  src: local("Brush Script MT");
  unicode-range: U+0049;
}

@font-face {
  font-family: "Brush Script MT-x0027";
  src: local("Brush Script MT");
  unicode-range: U+0027;
}

@font-face {
  font-family: "Brush Script MT-x006D";
  src: local("Brush Script MT");
  unicode-range: U+006D;
}

@font-face {
  font-family: "Brush Script MT-x0061";
  src: local("Brush Script MT");
  unicode-range: U+0061;
}

@font-face {
  font-family: "Brush Script MT-x0072";
  src: local("Brush Script MT");
  unicode-range: U+0072;
}

@font-face {
  font-family: "Brush Script MT-x0079";
  src: local("Brush Script MT");
  unicode-range: U+0079;
}

@font-face {
  font-family: "Luminari-x0048";
  src: local("Luminari");
  unicode-range: U+0048;
}

@font-face {
  font-family: "Luminari-x0069";
  src: local("Luminari");
  unicode-range: U+0069;
}

@font-face {
  font-family: "Luminari-x002E";
  src: local("Luminari");
  unicode-range: U+002E;
}

@font-face {
  font-family: "Luminari-x0049";
  src: local("Luminari");
  unicode-range: U+0049;
}

@font-face {
  font-family: "Luminari-x0027";
  src: local("Luminari");
  unicode-range: U+0027;
}

@font-face {
  font-family: "Luminari-x006D";
  src: local("Luminari");
  unicode-range: U+006D;
}

@font-face {
  font-family: "Luminari-x0061";
  src: local("Luminari");
  unicode-range: U+0061;
}

@font-face {
  font-family: "Luminari-x0072";
  src: local("Luminari");
  unicode-range: U+0072;
}

@font-face {
  font-family: "Luminari-x0079";
  src: local("Luminari");
  unicode-range: U+0079;
}

@font-face {
  font-family: "Comic Sans MS-x0048";
  src: local("Comic Sans MS");
  unicode-range: U+0048;
}

@font-face {
  font-family: "Comic Sans MS-x0069";
  src: local("Comic Sans MS");
  unicode-range: U+0069;
}

@font-face {
  font-family: "Comic Sans MS-x002E";
  src: local("Comic Sans MS");
  unicode-range: U+002E;
}

@font-face {
  font-family: "Comic Sans MS-x0049";
  src: local("Comic Sans MS");
  unicode-range: U+0049;
}

@font-face {
  font-family: "Comic Sans MS-x0027";
  src: local("Comic Sans MS");
  unicode-range: U+0027;
}

@font-face {
  font-family: "Comic Sans MS-x006D";
  src: local("Comic Sans MS");
  unicode-range: U+006D;
}

@font-face {
  font-family: "Comic Sans MS-x0061";
  src: local("Comic Sans MS");
  unicode-range: U+0061;
}

@font-face {
  font-family: "Comic Sans MS-x0072";
  src: local("Comic Sans MS");
  unicode-range: U+0072;
}

@font-face {
  font-family: "Comic Sans MS-x0079";
  src: local("Comic Sans MS");
  unicode-range: U+0079;
}

@font-face {
  font-family: "AppleGaramond-x0048";
  src: local("AppleGaramond");
  unicode-range: U+0048;
}

@font-face {
  font-family: "AppleGaramond-x0069";
  src: local("AppleGaramond");
  unicode-range: U+0069;
}

@font-face {
  font-family: "AppleGaramond-x002E";
  src: local("AppleGaramond");
  unicode-range: U+002E;
}

@font-face {
  font-family: "AppleGaramond-x0049";
  src: local("AppleGaramond");
  unicode-range: U+0049;
}

@font-face {
  font-family: "AppleGaramond-x0027";
  src: local("AppleGaramond");
  unicode-range: U+0027;
}

@font-face {
  font-family: "AppleGaramond-x006D";
  src: local("AppleGaramond");
  unicode-range: U+006D;
}

@font-face {
  font-family: "AppleGaramond-x0061";
  src: local("AppleGaramond");
  unicode-range: U+0061;
}

@font-face {
  font-family: "AppleGaramond-x0072";
  src: local("AppleGaramond");
  unicode-range: U+0072;
}

@font-face {
  font-family: "AppleGaramond-x0079";
  src: local("AppleGaramond");
  unicode-range: U+0079;
}

@font-face {
  font-family: "Chicago_12-x0048";
  src: local("Chicago_12"),
    url("https://unpkg.com/@sakun/system.css@0.1.11/dist/ChiKareGo2.woff2")
      format("woff");
  unicode-range: U+0048;
}

@font-face {
  font-family: "Chicago_12-x0069";
  src: local("Chicago_12"),
    url("https://unpkg.com/@sakun/system.css@0.1.11/dist/ChiKareGo2.woff2")
      format("woff");
  unicode-range: U+0069;
}

@font-face {
  font-family: "Chicago_12-x002E";
  src: local("Chicago_12"),
    url("https://unpkg.com/@sakun/system.css@0.1.11/dist/ChiKareGo2.woff2")
      format("woff");
  unicode-range: U+002E;
}

@font-face {
  font-family: "Chicago_12-x0049";
  src: local("Chicago_12"),
    url("https://unpkg.com/@sakun/system.css@0.1.11/dist/ChiKareGo2.woff2")
      format("woff");
  unicode-range: U+0049;
}

@font-face {
  font-family: "Chicago_12-x0027";
  src: local("Chicago_12"),
    url("https://unpkg.com/@sakun/system.css@0.1.11/dist/ChiKareGo2.woff2")
      format("woff");
  unicode-range: U+0027;
}

@font-face {
  font-family: "Chicago_12-x006D";
  src: local("Chicago_12"),
    url("https://unpkg.com/@sakun/system.css@0.1.11/dist/ChiKareGo2.woff2")
      format("woff");
  unicode-range: U+006D;
}

@font-face {
  font-family: "Chicago_12-x0061";
  src: local("Chicago_12"),
    url("https://unpkg.com/@sakun/system.css@0.1.11/dist/ChiKareGo2.woff2")
      format("woff");
  unicode-range: U+0061;
}

@font-face {
  font-family: "Chicago_12-x0072";
  src: local("Chicago_12"),
    url("https://unpkg.com/@sakun/system.css@0.1.11/dist/ChiKareGo2.woff2")
      format("woff");
  unicode-range: U+0072;
}

@font-face {
  font-family: "Chicago_12-x0079";
  src: local("Chicago_12"),
    url("https://unpkg.com/@sakun/system.css@0.1.11/dist/ChiKareGo2.woff2")
      format("woff");
  unicode-range: U+0079;
}
