html,
body {
  margin: 0;
  padding: 0;
  font-family: "Quattrocento Sans", sans-serif;
  background-color: #141414;
  color: #e7e7e7;
  height: 100%;
}

.container {
  margin: auto;
  max-width: 64rem;
  position: relative;
  padding-left: 2rem;
  padding-right: 2rem;
  display: flex;
  justify-content: space-between;
  height: 100%;
  flex-direction: column;
}

.heading {
  font-family: "Quattrocento", serif;
  letter-spacing: -0.05ch;
  font-weight: 400;
}

.heading-1 {
  font-size: 8rem;
}

.sub-heading {
  font-size: 2rem;
}

.body {
  font-size: 1.5rem;
}

.bright-dot {
  color: #faac00;
}

.social-links {
  display: flex;
  width: 100%;
  justify-content: space-between;
  max-width: 20rem;
  margin: 32px auto;
}

.link {
  color: #faac00;
  transition: all 100ms ease-in;
  padding: 4px;
  text-decoration: none;
}

.link-inline {
  margin: -4px;
}

.link-icon {
  height: 32px;
  width: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.link:hover,
.link:focus {
  color: #ffdf99;
}

.link:focus {
  outline: none;
  color: #141414;
  background-color: #cc8b00;
  border-radius: 5px;
}

.link > i {
  font-size: 1.5rem;
}

.divider {
  width: 100%;
}

.flex-container {
  display: flex;
  justify-content: space-between;
}

.status-container {
  margin: auto;
  max-width: 30rem;
  text-align: center;
}

.text-link:hover {
  text-decoration: underline;
}

@media (max-width: 600px) {
  .heading-1 {
    font-size: 4rem;
  }

  .body {
    font-size: 1rem;
  }

  .social-links {
    max-width: 100%;
    margin-top: 2rem;
    justify-content: space-around;
  }

  .link > i {
    font-size: 1.25rem;
  }

  .flex-container {
    display: block;
  }
}
